[Unit]
Description=Auto poweroff Raspberry Pi 5 and wake for a recording
After=tvheadend.service
Requires=tvheadend.service

[Service]
Type=simple
User=[your_user_goes_here]
Group=[your_user_goes_here]
ExecStart=/usr/bin/python /home/[your_user_goes_here]/rpi5-tvheadend-scheduler/rpi5-tvheadend-scheduler.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
